.mdl-textfield-margem{
    margin: 10px;
}

.mdl-layout {
	align-items: center;
}
.mdl-layout__content {
	padding: 24px;
	flex: none;
}

.card-wide.mdl-card {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
	margin-bottom: 20px;
}

